torch==2.2.2
torchvision==0.17.2
pytorch-lightning==2.2.0

numpy>=1.26.0
pandas>=2.1.0
scikit-learn>=1.3.0

matplotlib>=3.8.0
seaborn>=0.13.0
tqdm
pyyaml
kaggle
pillow
tensorboard
scipy>=1.11.0
opencv-python
